//=== Mixins ===
@mixin font-lato {
    font-family: 'Lato', sans-serif;    
}

@mixin font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
//=== / Mixins ===

@import 'normalize.scss';

* {
    box-sizing: border-box;
}

body{
    @include font-lato;

    color: #414141;
}


.section-inner{
    width: 1180px;
    margin: 0 auto;
}

.discription-item {
    &_icon {
        margin-bottom: 20px;
    }
    &_title {
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
    }
    &_text {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #6c6c6c;
    }
}

@mixin start-button {
    @include font-montserrat;

    margin: 0;
    padding: 16px 20px;
    font-size: 18px;
    border: none;
    background: linear-gradient(to right, #FE985B, #FE4FA7);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}


.btn-main {
    @include start-button;
    border: none;
    background: linear-gradient(to right, #FE985B, #FE4FA7);
    color: white;
}

.btn-seconddary {
    @include start-button;
    border: 1px solid #414141;ß
    background: white;
    color: #414141;
}

//=== header ===
.section-header {
    color: #ffffff;
    background: url(../img/gulpfile.png) no-repeat 50% 50%;
    background-size: cover;
    position: relative;

    .section-inner{
        height: 100vh;
        position: relative; 
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    &::before{
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(20, 39, 41, .6);      
    }

    &-logo {
        font-weight: bold;
        font-size: 24px;
        flex-shrink: 1;
        padding-top: 35px;
    }
    &-content {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }
    &-wrapper {
        margin: 0 auto;
        &_title,
        &_subtitle{
            text-align: center;
        }
        &_title{
            font-weight: bold;
            font-size: 56px;
            line-height: 60px;
            margin-bottom: 16px;
        }
        &_subtitle{
            @include font-montserrat;
            font-size: 18px;
            line-height: 32px;
            margin: 0 auto 44px;
            width: 80%;
        }
        &_form {
            display: flex;
            &-input{
                flex: 1;
                padding-right: 40px ;
                
                input {
                    @include font-montserrat;
                    border: none;
                    background: rgba(255, 255, 255, .25);
                    color: white; 
                    font-size: 16px;
                    margin: 0;
                    padding: 16px 20px;
                    outline: none;
                    border-radius: 4px;
                    width: 100%;
                    &::placeholder{
                        color: white;
                    }
                }
            }
        }
    }
}
//=== / header ===

//=== promo ===
.section-promo {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-promo-1 {
    display: flex;

    &_content,
    &_video {
        flex-basis: 50%;
    }

    &_content {
        padding-right: 90px;
        .title {
            font-size: 32px;
            line-height: 51px;
            font-weight: bold;
            margin-bottom: 56px;
        }
        .discription-item {
            margin-top: 28px;
        }
    }
    &_video {
        img {
            width: 100%;
            height: auto ;
            cursor: pointer;
        }
    }
}

.section-promo-2 {
    display: flex;
    padding-top: 86px;
    margin-top: 120px;
    border-top: 1px solid #e2e2e2;
    text-align: center;

    .discription-item + .discription-item {
        margin-left: 40px; 
    }
  
}

//=== / promo ===

//===  founder ===

.section-founder { 
    background-color:#f5fafd;
    padding-top: 34px;

    .section-inner{
        display: flex;
    }

    &_img {
        align-self: flex-end;
    }
    
    &_content {
        align-self: center;
        padding-left: 50px;
    }
        &_text {
            @include font-montserrat;
            
            font-size: 24px;
            line-height: 40px;
        }
        &_name {
            font-size: 24px; 
            line-height: 29px; 
            font-weight: bold;
        }
        &_post {
            font-size: 20px;
            line-height: 29px;
        }
    
}
//===  / founder ===

//===  plans ===
.section-plans {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

    &_title {
        font-size: 36px;
        line-height: 51px;
        font-weight: bold;
    }
    
    &_subtitle {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        width: 50%;
        margin: 0 auto 80px;
    }
    &_list {
        display: flex;
        justify-content: center;
        
        &-item {
            flex-basis: 370px;
            padding: 60px 45px;
            &_title {
                font-size: 14px;
                line-height: 17px;
                font-weight: bold ; 
                text-transform: uppercase;
                margin-bottom: 26px;
            }

            &_price {
                margin-bottom: 26px;
                .prefix{
                    color: #FE4FA7;
                    font-size: 72px;
                    line-height: 86px;
                    font-weight: bold;
                }
                .postfix{
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: bold;

                }
            }
            
            &_description {
                font-size: 16px;
                line-height: 28px;
                font-weight: 300;
                margin-bottom: 40px;
            }
           

            &.active {
                background-color: #f6fafd;
            }
        }

    }
}
//===  / plans ===

